/*

# INSTRUCTIONS
Découverte du SVG et des transitions CSS

## HTML
- Utilisation d'images en SVG

## CSS
- Utilisation des transitions et transformations en CSS
- Largeur limité à 1100px maximum
- Police utilisé : "Bree Serif"
- Taille de police (a convertir en rem) :
    texte: 18px
    nav : 20px
    logo et h1 : 40px
    h2 : 35px
    h3 des compétences : 30px
    icone : 25px
    input et textarea : 16px

## TRANSITIONS
- logo :
    - zoom de 1.3 sur le losange
    - texte qui passe en rose

- nav :
    - texte et icones passent en rose
    - texte et icones descendent de 10px

- en savoir plus : background rose

## BONUS
- Faire un effet "bounce" en CSS sur les 3 petites icones de "On discute / on tente / on code".

*/


/* @font-face */


/* style par défaut ********************************************/

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%; /* soit 1 rem = 10px */
}

body {
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.5;
  font-family: 'Bree Serif', serif;
  color: #9a9a9a;
  background-image: url(../img/fond.png)
}

a {
  text-decoration: none;
  color: #f12c5a;
}

a:hover,
a:focus,
a:active {

}

h1, h2, h3 {
  font-style: normal;
  font-weight: normal;
  color: #f12c5a;
}

h1 {
  margin-top: 0;
  font-size: 4rem;
  color: #fff;
}

h2 {
  margin-top: 1rem;
  padding-bottom: 2rem;
  border-bottom: solid 2px #f2f2f2;
  font-size: 3rem;
}

h3 {
  margin-top: 0;
  margin-bottom: 2rem;
}

h1:before,
h2:before,
h1:after,
h2:after
 {
  content: " - ";
}

input {
  font-size : 1.6rem;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

figure {
  margin: 0;
}

.fa {
  font-size: 2.5rem;
}

/*class container*/

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding: 4.5rem 2rem;
}

/* HEADER ****************************************************/

.banner {
  padding: 4rem 0;
}

.banner_logo {
  font-size: 4rem;
  color: #9a9a9a;
  transition: all 1s ease;
}

.banner_logo img{
  display: block;
  margin: auto;
  width: 4rem;
  transition: transform 1s ease;
  will-change: transform;
}

.banner_logo:hover img,
.banner_logo:focus img {
  transform: scale(1.3);
}

.banner_logo:hover,
.banner_logo:focus {
  color: #f12c5a;
}

nav a {
  display: block;
  font-size: 2rem;
  color: #9a9a9a;
  padding: 1rem 3rem;
  transition: all 1s ease;
}

nav a:hover,
nav a:focus {
  color: #f12c5a;
  transform: translateY(10px);
}

.fa-home,
.fa-folder-open,
.fa-envelope {
  display: block;
  padding: 1rem;
}

/*Tablette*/

@media screen and (min-width : 768px) {
  nav a {
    display: inline-block;
  }

  .banner_logo img{
    width: 5rem;
  }
}

/*desktop*/
@media screen and (min-width : 1024px) {
  .banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .banner_logo img{
    display: inline-block;
    margin-right: 2rem;
    vertical-align: middle;
  }
}



/* MAIN *******************************************************/

main header {
  display: flex;
  min-height: 60vh;
  flex-direction: column;
  justify-content: center;
  padding: 9rem 2rem;
  background-image: url(../img/bg_header.png);
  background-size: cover;
  background-color: #666;
  color: #fff;
}

main header * {
  max-width : 1100px;
  margin-left: auto;
  margin-right: auto;
}

main header .btn {
  transition-property: background;
  transition-timing-function: ease-in-out;
  transition-duration: 1s;
  transition-delay: 0.5s;
}

main header .btn:hover,
main header .btn:focus {
  background-color: #fff;
  color: #f12c5a;
}

/* SECTIONS */

.multi-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.multi-column h2 {
  flex-basis: 100%;
}

figure {
  padding: 0 3rem;
}

figcaption {
  display: flex;
  flex-direction: column-reverse;
}

figure h3 {
  margin-bottom: 5rem;
}

figure p {
  margin-bottom: 0;
}

figure:last-child h3 {
  margin-bottom: 0;
}

.column {
  flex: 1;
  align-content: flex-start;
}

.column i {
  align-content: center;
  width: 65px;
  height: 65px;
  background-color: #f2f2f2;
  border-radius: 50%;
  border: solid 1px #9a9a9a;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
  line-height: 65px;
}

.column i:hover {
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transform-origin: center bottom;
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

/*desktop*/
@media screen and (min-width : 1024px) {

  .multi-column {
    flex-direction: row;
  }

  .column + .column {
    margin-left: 5rem;
  }
}


.full {
  text-align: left;
}

.btn-more {
  margin-left: 2rem;
}

/*tablette*/
@media screen and (min-width : 768px) {

  .full img  {
    float: left;
    max-width: 50%;
    margin-right: 2rem;
    margin-bottom: 2rem;
  }

  .full:nth-child(even) img  {
    float: right;
    margin-left: 2rem;
  }

  .clearfix {
    display: table;
  }
  .clearfix:after {
    clear: both;
    content: " ";
    margin: 0;
    padding: 0;
  }

}

/* FORMULAIRE */

fieldset {
  border: none;

}

.contact-form > p {
  text-align: left;
}

legend {
  position: absolute;
  left: -1px;
  bottom: -1px;
  clip: rect(1px, 1px, 1px, 1px);
  opacity: 0;
  font-size: 0;
}

input,
textarea {
  border: none;
  background: none;
}

.field {
  display: flex;
  text-align: left;
  border-radius:3rem;
  border: solid 1px #9a9a9a;
  padding: 0.5rem;
}

.field input,
.field textarea {
  flex: 1 1 auto;
  padding: 1rem;
}

label img{
  width: 5rem;
}

/*tablette*/
@media screen and (min-width : 768px) {
  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .field {
    flex-basis: 48%;
  }

  .field:last-child {
    flex-basis: 100%;
  }
}


/* FOOTER *****************************************************/

.mention {
  font-size: 1.2rem;
}

.mention p {
  margin: 0;
}

/* CLASS */

.btn {
  display: inline-block;
  margin: 0 auto;
  background-color: #f12c5a;
  padding: 1.5rem;
  line-height: 1.5rem;
  border-radius: 3px;
  color: #fff;
}

.grey {
  background-color: #666;
}


/* @media query ***************************************************/

/*tablette*/
@media screen and (min-width : 768px) {

}

/*desktop*/
@media screen and (min-width : 1024px) {

}
